:root {
	--popstar: #CA4C69ff;
	--dark-sienna: #420711ff;
	--davys-grey: #4B5358ff;
	--pale-silver: #C4B6A5ff;
}

body {
	color: var(--davys-grey);
	font-family: 'Oxygen', sans-serif;
}

.sr-only {
	display: none;
}

.navbar-brand {
	right: 0;
	position: absolute;
}

.navbar {
	height: 4rem;
}

.navbar-expand .navbar-nav .nav-link {
	font-size: 1rem;
	padding-right: 1rem;
}

.navbar-brand > img {
	display: none;
}

.jumbotron {
	background-image: url(https://cdn.shopify.com/s/files/1/1384/6395/files/Burrito_Supreme_Grey_gravel_2000x.jpg?v=1603389036);
	height: 1000px;
}

/* small devices and up */
@media (min-width: 576px) {
	.navbar-nav {
		padding-left: 1rem;
	}
	
}

/* medium devices and up */
@media (min-width: 768px){
	.navbar-expand .navbar-nav .nav-link {
		font-size: 1.125rem;
		padding-right: 1.125rem;
	}
	
	.navbar {
		height: 8rem;
	}
	
	.navbar-brand > img {
		display: inline;
		width: 31.25rem;
		height: auto;
	}
	
	.navbar-nav {
		padding-left: 1.5rem;
	}
}

/* large devices and up */
@media (min-width: 992px) {
	.navbar-expand .navbar-nav .nav-link {
		font-size: 1.25rem;
		padding-right: 1.25rem;
	}

	.navbar {
		height: 7rem;
	}

	.navbar-brand > img {
		width: 38rem;
	}
	
	.navbar-nav {
		padding-left: 2rem;
	}
}