/* 576 = boostrap sm */
/* 768 = boostrap med */
/* 992 = boostrap lg */

/* VARIABLES, BOOTSTRAP GLOBAL AND MISC OVERRIDES */

:root {
	--popstar: #CA4C69ff;
	--dark-sienna: #420711ff;
	--davys-grey: #4B5358ff;
	--pale-silver: #C4B6A5ff;
}

body {
	color: var(--davys-grey);
	font-family: 'Oxygen', sans-serif;
}

h1 {
	font-size: 3rem;
	font-weight: 600;
	margin-top: 1rem;
	margin-bottom: 0.75rem;
	color: var(--popstar)
}

@media (min-width: 768px){
	h1 {
		font-size: 4rem;
	}
}

a, a:visited, a:hover {
	text-decoration: none;
	color: var(--davys-grey)
}

a:hover {
	color: var(--popstar)
}

a p {
	margin: 0;
}

.sr-only {
	display: none;
}

/* BOOTSTRAP BUTTON AND PAGINATION OVERRIDE */

.btn-primary {
	background-color: var(--pale-silver);
	border-color: var(--pale-silver);
}

.btn-primary:hover {
	background-color: var(--dark-sienna);
	border-color: var(--dark-sienna);
}

.btn-primary:focus {
	background-color: var(--popstar);
	border-color: var(--popstar);
}

.btn:focus {
	box-shadow: 0 0 0 0.25rem var(--popstar);
}

.btn-outline-primary {
	padding: 0 0.5rem 0.125rem 0.5rem;
	color: var(--davys-grey);
	border: 0px solid black;
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
	background-color: #FFFFFF;
	color: var(--dark-sienna)
}

.page-link {
	color: var(--davys-grey)
}

.page-link:hover {
	color: var(--dark-sienna);
}

.page-item.active .page-link {
	background-color: var(--dark-sienna);
	border-color: var(--dark-sienna);
}

/* BOOTSTRAP NAVBAR OVERRIDE */

.navbar-brand {
	right: 0;
	position: absolute;
}

.navbar {
	height: 4rem;
}

.navbar-expand .navbar-nav .nav-link {
	font-size: 1rem;
	padding-right: 1rem;
}

.navbar-brand > img {
	display: none;
}

@media (min-width: 576px) {
	.navbar-nav {
		padding-left: 1rem;
	}
	
}

@media (min-width: 768px){
	.navbar-expand .navbar-nav .nav-link {
		font-size: 1.125rem;
		padding-right: 1.125rem;
	}
	
	.navbar {
		height: 8rem;
	}
	
	.navbar-brand > img {
		display: inline;
		width: 31.25rem;
		height: auto;
	}
	
	.navbar-nav {
		padding-left: 1.5rem;
	}
}

@media (min-width: 992px) {
	.navbar-expand .navbar-nav .nav-link {
		font-size: 1.25rem;
		padding-right: 1.25rem;
	}

	.navbar {
		height: 7rem;
	}

	.navbar-brand > img {
		width: 38rem;
	}
	
	.navbar-nav {
		padding-left: 2rem;
	}
}

/* SHOP VIEW MEDIA QUERIES */

.shop-hero {
	background-image: url(https://cdn.shopify.com/s/files/1/1384/6395/files/Burrito_Supreme_Grey_gravel_2000x.jpg?v=1603389036);
	height: 10rem;
	background-size: cover;
	background-position: bottom;
}

@media (min-width:768px) {
	.shop-hero {
		height: 18.75rem;
	}
}

/* WELCOME PAGE MEDIA QUERIES */

.welcome-hero {
	background-image: url(https://cdn.shopify.com/s/files/1/1384/6395/files/Burrito_Supreme_Grey_gravel_2000x.jpg?v=1603389036);
	height: 200px;
	background-size: 800px auto;
	background-position: center -250px;
	background-repeat: no-repeat;
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.welcome-hero {
		height: 300px;
		background-size: 1100px auto;
		background-position: center -300px;
	}

}
	
@media (min-width: 992px) {
	.welcome-hero {
		height: 500px;
		background-size: 1296px auto;
		background-position: center -400px;	
	}
}

@media (max-width: 768px) {
	.welcome-hover-override > div {
		display: block !important;
	}
}

/* CART VIEW MEDIA QUERIES */

.cart-info {
	position: relative;
	margin-top: 0.5rem;
}

@media (min-width: 768px) {
	.cart-info {
		margin-top: 0;
	}
}